@import '../../resolution.scss';


.brandBanner {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include responsive('small') {
        height: 146px;
        padding: 0px 16px;
    }

    @include responsive('medium') {
        height: 122px;
        padding: 0px 100px;
    }

    .bannerWrapper {
        width: fit-content;
        height: auto;
        object-fit: cover;

        .banner {
            width: fit-content;
            height: fit-content;
        }
    }
}