@import '../resolution.scss';

.productLayoutWrapper {
    width: 100%;

    @include responsive('small') {
        padding: 20px 20px !important;
    }

    @include responsive('medium') {
        padding: 0px 80px;
    }

    .layoutProductTitle {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: 'integralCFBold';
        font-size: 48px;

        @include responsive('small') {
            font-size: 32px;
            margin-top: 50px;
        }

        @include responsive('medium') {
            margin-top: 72px;
        }
    }

    .layoutCommentsTitle {
        font-family: 'integralCFBold';
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        @include responsive('small') {
            font-size: 32px;
            margin-top: 50px;
        }

        @include responsive('medium') {
            font-size: 48px;
            margin-top: 80px;
        }

        .actions {
            display: flex;
            gap: 16px;
            cursor: pointer;
        }
    }

    .productListingPageFilterSection {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .layoutListingTitle {
            font-family: 'satoshiBold';
            text-transform: capitalize;

            @include responsive('small') {
                font-size: 24px;
            }

            @include responsive('medium') {
                font-size: 32px;
            }
        }

        .displayedProductFilterSection {
            display: flex;
            color: #969696;

            @include responsive('small') {
                font-size: 14px;
                gap: 8px;
                align-items: center;

                .sortBySectionDesktop {
                    display: none;
                }

                .sortBySectionMobile {
                    display: flex;
                    height: 24px;
                    width: 24px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: #F0EEED;
                }
            }

            @include responsive('medium') {
                font-size: 16px;
                gap: 12px;
                align-items: center;

                .sortBySectionMobile {
                    display: none;
                }

                .sortBySectionDesktop {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                }
            }


        }
    }

    .productListingPageCards {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;

        @include responsive('small') {
            margin-top: 32px;
            gap: 16px;
            column-gap: 25px;
            justify-content: center;
        }

        @include responsive('medium') {
            margin-top: 55px;
            gap: 20px;
            column-gap: 50px;
        }
    }


    .productCards {
        display: flex;
        width: 100%;

        @include responsive('small') {
            margin-top: 32px;
            gap: 16px;
            flex-direction: row;
            overflow-x: scroll;
        }

        @include responsive('medium') {
            flex-wrap: wrap;
            margin-top: 55px;
            justify-content: center;
            gap: 20px;
        }
    }

    .commentCards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        @include responsive('small') {}

        @include responsive('medium') {}
    }

    .moreProductsButton {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 36px;

        @include responsive('small') {
            display: none;
        }
    }
}

.signupLayoutWrapper {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: #F8F8F8;

    @include responsive('small') {
        padding: 20px 16px;
    }

    @include responsive('medium') {
        padding: 40px 80px;
    }

}